.user-channels{
    margin-top: 2rem;
    .list-group{
        border: 1px solid $black;
    }
    .channel-list-item {
        a, span{
            margin-left: 1rem;
        }
    }
    .list-group-item{
        &.active {
            background: $medium;
            border: none;
            border-top: 1px solid $black;
            border-bottom: 1px solid $black;
        }
        &:first-child{
            border-bottom: 1px solid $black;
        }
    }
}
#channel-users{
    margin-top: 4rem;
}
#user-window{
    width: 100%;
    height: 300px;
    display: block;
    overflow: hidden;
    background-color: $medium !important;
    -webkit-box-shadow: inset 0px 3px 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 3px 1px rgba(0, 0, 0, 0.1);
    border-radius: 240px;
    padding: 30px 45px 30px 60px;
    #user-window-channel{
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }
}
#user-window-channel::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: $medium;
}

#user-window-channel::-webkit-scrollbar
{
	width: 12px;
	background-color: $medium;
}

#user-window-channel::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: $light;
}

.user-check {
    display: inline-block;
    width: 160px;
    height: 190px;
    margin-right: 4rem;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    p{
        width: 100%;
    }
    label{
        width: 160px;
        height: 160px;
        position: relative;
        display: inline-block;
        margin-bottom: 0;
        .user-check-input{
            opacity: 0;
            width: 0;
            height: 0;
        }
        .user-checkbox-hover{
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            -webkit-transition: all .5s ease;
            -moz-transition: all .5s ease;
            -o-transition: all .5s ease;
            -ms-transition: all .5s ease;
            transition: all .5s ease;
            border-radius: 160px;
            opacity: 0;
            z-index: 2;
        }
        .user-checkbox-hover:before {
            position: absolute;
            content: "";
            top: 0;
            left: 4px;
            right: -4px;
            bottom: 0;
            background-color: rgba(0,0,0,0.4);
            -webkit-transition: all .5s ease;
            -moz-transition: all .5s ease;
            -o-transition: all .5s ease;
            -ms-transition: all .5s ease;
            transition: all .5s ease;
            border-radius: 160px;
        }
        .user-checkbox-hover:after {
            position: absolute;
            content: "\f00c";
            font-family: FontAwesome;
            font-size: 3rem;
            top: calc(50% - 36px);
            left: calc(50% - 24px);
            z-index: 3;
        }
        &:hover{
            .user-checkbox-hover {
                opacity: 1;
            }
        }
        .user-check-input:checked ~ .user-checkbox-hover:after {
            content: "\f00d";
        }
        .user-check-input:checked ~ .user-checkbox-hover {
            opacity: 1;
        }
    }
    .avatar-window{
        display: inline-block;
        width: 100%;
        height: 100%;
    }
}