/* Forms */
input[type="email"],
input[type="password"] {
    background: $medium;
    border-radius: 30px;
    height: 60px;
    padding: 15px;
    border: none;
    color: #fff;
    -webkit-box-shadow: inset 0px 3px 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 3px 1px rgba(0, 0, 0, 0.1);
}
.btn-primary{
    background: $lightest;
    border-radius: 30px;
    padding: 15px 30px;
    border: none;
    &:hover{
        background: $green;
    }
}