/* Forms */
.formInputStyle{
    background-color: $medium !important;
    border-radius: 30px;
    height: 60px;
    padding: 15px;
    border: none;
    color: #fff;
    -webkit-box-shadow: inset 0px 3px 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 3px 1px rgba(0, 0, 0, 0.1);
}
.form-group{
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        &:focus{
            @extend .formInputStyle;
        }
        @extend .formInputStyle;
    }
}
.btn-primary{
    background: $lightest;
    border-radius: 30px;
    padding: 15px 30px;
    border: none;
    &:hover{
        background: $green;
    }
}