.modal-dialog {
    max-width: 66vw;
    margin: 1.75rem auto;
}
.modal-content {
    background-color: #232b3e;
    background-clip: padding-box;
    border: none;
    border-radius: 30px;
    padding: 30px;
}