#sidebar{
    padding: 3rem 2rem;
    border-radius: 0 0 0 30px;
    background: $mediumlight;
    min-height: calc(100vh - 219px);
    h4{
        width: 100%;
    }
    .list-group{
        margin-bottom: 3rem;
        padding-top: 0.5rem;
        padding-bottom: 1rem;
        border-radius: 30px;
        border: 1px solid $black;
        &:last-child{
            margin-bottom: 0;
        }
    }
    .list-group-item{
        background: none;
        border: none;
        &.active {
            background: $medium;
            border: none;
            border-top: 1px solid $black;
            border-bottom: 1px solid $black;
        }
        &:first-child{
            border-bottom: 1px solid $black;
        }
    }
    .list-group-item-action {
        color: #fff;
    }
}