$background: #1a202e;
$black: #131821;
$dark: #232b3e;
$mediumlight: #283246;
$medium: #272e3b;
$green: #06bc72;
$light: #4D5F8A;
$lightest: #718BC9;
$open: 'Open Sans', sans-serif;
$condensed: 'Open Sans Condensed', sans-serif;