
                <div id="chat">
                    <h1>Home</h1>
                    <div class="media out">
                        <div class="user">
                            <img src="https://placebeard.it/90/90" alt="Image">
                            <p>My Name</p>
                        </div>
                        <div class="media-body">
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            <i class="fas fa-ellipsis-h" 
                                data-toggle="popover" 
                                data-html="true" 
                                data-placement="bottom" 
                                data-content="<i class='fas fa-edit'></i><i class='fas fa-trash-alt'></i>">
                            </i>
                        </div>
                        <small class="text-muted">7:47 AM</small>
                    </div>
                    <div class="media in d-flex flex-row-reverse">
                            <div class="user">
                                <img src="https://placebeard.it/90/90" alt="Image">
                                <p>Their Name</p>
                            </div>
                        <div class="media-body">
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            <i class="fas fa-ellipsis-h" 
                                data-toggle="popover" 
                                data-html="true" 
                                data-placement="bottom" 
                                data-content="<i class='fas fa-thumbs-up'></i><i class='fas fa-share-alt'>">
                            </i>
                        </div>
                        <small class="text-muted">7:47 AM</small>
                    </div>
                    <div class="media out">
                            <div class="user">
                                <img src="https://placebeard.it/90/90" alt="Image">
                                <p>My Name</p>
                            </div>
                        <div class="media-body">
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            <i class="fas fa-ellipsis-h" 
                                data-toggle="popover" 
                                data-html="true" 
                                data-placement="bottom" 
                                data-content="<i class='fas fa-edit'></i><i class='fas fa-trash-alt'></i>">
                            </i>
                        </div>
                        <small class="text-muted">7:47 AM</small>
                    </div>
                    <div class="media in d-flex flex-row-reverse">
                            <div class="user">
                                <img src="https://placebeard.it/90/90" alt="Image">
                                <p>Their Name</p>
                            </div>
                        <div class="media-body">
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            <i class="fas fa-ellipsis-h" 
                                data-toggle="popover" 
                                data-html="true" 
                                data-placement="bottom" 
                                data-content="<i class='fas fa-thumbs-up'></i><i class='fas fa-share-alt'>">
                            </i>
                        </div>
                        <small class="text-muted">7:47 AM</small>
                    </div>
                </div>