<!DOCTYPE html>
<html lang="en">
  	<head>
        <title>Static Website</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/2ea5bc6e34.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
    </head>
	<body>
    	<div id="app-container">
			<header id="header" class="bg-dark">
				<nav id="navbar" class="navbar navbar-expand-lg">
					<a id="brand" class="navbar-brand" href="/">Gulp</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="nav navbar-nav ml-auto">
							<% if (locals.loggedin) { %>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i class="fas fa-microphone"></i>Channels
									</a>
									<div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
										<a class="dropdown-item" href="#">Channel 1</a>
										<a class="dropdown-item" href="#">Channel 2</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="/channels"><i class="fas fa-microphone"></i>Manage Channels</a>
									</div>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#"><i class="fas fa-user"></i>Users</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/account"><i class="fas fa-sliders-h"></i>Settings</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i>Logout</a>
								</li>
							<% } else { %>
								<!--
								<li class="nav-item">
									<a class="nav-link" href="#" data-toggle="modal" data-target="#login"><i class="fas fa-sign-in-alt"></i>Login/Register</a>
								</li>
								-->
							<% } %>
						</ul>
					</nav>
				<% if (locals.errors) { %>
					<% if (locals.errors.general) { %>
						<div class="container">
							<div class="row justify-content-md-center">
								<div class="generic-errors col-6">
									<% locals.errors.general.forEach(function(error) { %>
										<p class="alert alert-primary" role="alert"><%= error %></p>
									<% }) %>
								</div>
							</div>
						</div>
					<% } %>
				<% } %>
				</header>