
            <div id="message">
                <div class="input-group">
                    <textarea class="form-control" aria-label="With textarea" placeholder="Type your message here"></textarea>
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-link"></i>
                            <i class="fas fa-smile"></i>
                            <i class="fas fa-paper-plane"></i>
                        </span>
                    </div>
                </div>
            </div>
