<%- include('partials/header'); %> 
<div id="main">
  <div class="container-fluid">
    <div class="row">
      <div id="sidebar" class="col-md-3">
        <h2>Sidebar</h2>
      </div>  
      <main role="main" class="col-md-9">
        <h1>Main</h1>
      </main>
    </div> <!-- end .row --> 
  </div><!-- end .container-fluid -->
</div><!-- end #main -->
<%- include('partials/footer'); %>