body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #131821;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: #131821;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #4D5F8A;
}

a {
  color: #718BC9;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

.badge-primary {
  background-color: #718BC9;
  -webkit-box-shadow: inset 0px 3px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.dropdown-divider {
  border-top: 1px solid #4D5F8A;
}

.text-muted {
  color: #718BC9 !important;
}

.popover {
  background: #272e3b;
}

.popover i {
  color: #fff;
}

.popover i:first-child {
  margin-right: 1rem;
}

.bs-popover-auto[x-placement^=bottom] > .arrow::after,
.bs-popover-bottom > .arrow::after,
.bs-popover-auto[x-placement^=bottom] > .arrow::before,
.bs-popover-bottom > .arrow::before {
  border-bottom-color: #272e3b;
}

.popover i,
.media i {
  cursor: pointer;
}

.grow {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.grow:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.alert-primary {
  color: #fff;
  background-color: #283246;
  border: none;
  border-radius: 30px;
  padding: 15px 30px;
}

.errors {
  margin-top: 2rem;
}

hr {
  margin-bottom: 2rem;
  border-top: 1px solid #718BC9;
}

.list-group {
  margin-bottom: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  border-radius: 30px;
  border: 1px solid #131821;
}

.list-group:last-child {
  margin-bottom: 0;
}

.list-group h4 {
  width: 100%;
}

.list-group-item {
  background: none;
  border: none;
}

.list-group-item.active {
  background: #272e3b;
  border: none;
  border-top: 1px solid #131821;
  border-bottom: 1px solid #131821;
}

.list-group-item:first-child {
  border-bottom: 1px solid #131821;
}

.list-group-item-action {
  color: #fff;
}

.avatar-window {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
}

.avatar-window img {
  width: auto;
  height: 100%;
}

/* Forms */
.formInputStyle, .form-group .custom-file-label:focus,
.form-group .custom-file-input:focus,
.form-group input[type="file"]:focus,
.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group input[type="password"]:focus, .form-group .custom-file-label,
.form-group .custom-file-input,
.form-group input[type="file"],
.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
  background-color: #272e3b !important;
  border-radius: 30px;
  height: 60px;
  padding: 15px;
  border: none;
  color: #fff;
  -webkit-box-shadow: inset 0px 3px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.form-group .custom-file-label:focus,
.form-group .custom-file-input:focus,
.form-group input[type="file"]:focus,
.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group input[type="password"]:focus {
  -webkit-box-shadow: inset 0px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.form-group .custom-file-label {
  line-height: 1.8;
  padding: 15px 30px;
  pointer-events: none;
  cursor: pointer;
}

.form-group .custom-file-label::after {
  color: #fff;
  background-color: #283246;
  border: none;
  border-radius: 0;
  height: 60px;
  padding: 15px;
  line-height: 1.8;
  pointer-events: auto;
  cursor: pointer;
}

.form-group.no-submit .custom-file-label::after {
  border-top-left-radius: 0;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 30px;
}

.form-group .input-group-append button {
  border: none;
  height: 60px;
  padding: 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 30px;
  background-color: #718BC9;
  color: #fff;
}

.form-group .input-group-append button:hover {
  background: #06bc72;
}

.form-group.submit {
  margin-top: 2rem;
}

.btn-primary {
  background: #718BC9;
  border-radius: 30px;
  padding: 15px 30px;
  border: none;
}

.btn-primary:hover {
  background: #06bc72;
}

.check-input-group {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 50px;
  top: -10px;
}

.check-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
  background-color: #272e3b !important;
  -webkit-box-shadow: inset 0px 3px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 3px 1px rgba(0, 0, 0, 0.1);
  border-radius: 42px;
}

.checkbox-slider:before {
  position: absolute;
  content: "";
  height: 42px;
  width: 42px;
  left: 4px;
  bottom: 4px;
  background-color: #4D5F8A;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  border-radius: 50%;
}

.check-input:checked + .checkbox-slider:before {
  background-color: #718BC9 !important;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
}

.form-group span.align-label-middle {
  height: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1rem;
}

.modal-dialog {
  min-width: 50vw;
  margin: 3rem auto;
}

.modal-content {
  background-color: #1a202e;
  border: none;
  border-radius: 30px;
  padding: 30px;
}

.modal-content a {
  color: #fff;
}

.modal-content .nav-tabs {
  width: 100%;
  border: none;
}

.modal-content .nav-tabs .nav-link {
  border-radius: 30px;
  padding: 1rem 2rem;
  border: 1px solid #718BC9;
}

.modal-content .nav-tabs .nav-link.active {
  background-color: #718BC9;
  color: #fff;
}

.modal-content .nav-tabs .nav-link.login {
  border-top-left-radius: 30px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 0;
}

.modal-content .nav-tabs .nav-link.register {
  border-top-left-radius: 0;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 30px;
}

.modal-content .submit {
  margin-top: 30px;
}

.modal-header {
  padding-top: 0;
  border-bottom: none;
  position: relative;
}

.modal-header .close {
  position: absolute;
  color: #fff;
  text-shadow: none;
  opacity: 1;
  right: 30px;
}

/* Nav */
#header {
  position: relative;
  z-index: 10;
  border-radius: 30px 30px 0 0;
  border-bottom: 1px solid #131821;
  text-align: center;
}

#navbar a {
  color: #fff;
}

#navbar a:hover {
  color: #fff;
}

#navbar a.nav-link {
  margin-left: 1rem;
  padding: 0.5rem;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

#navbar a.nav-link i {
  display: block;
  font-size: 1.4rem;
  margin: 5px;
}

#navbar a.nav-link:hover {
  color: #718BC9;
}

#navbar .dropdown-menu {
  border: none;
  border-radius: 0 0 30px 30px;
  top: 83px;
  min-width: 12rem;
  padding: 0.5rem 0 0 0;
  -webkit-box-shadow: 0px 7px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 7px 3px rgba(0, 0, 0, 0.25);
}

#navbar .dropdown-menu i {
  display: inline-block;
  margin-right: 0.5rem;
}

#navbar .dropdown-menu .dropdown-item:last-child {
  padding-bottom: 0.5rem;
  border-radius: 0 0 30px 30px;
}

#navbar .dropdown-item.active,
#navbar .dropdown-item:active {
  background-color: #1a202e;
}

#navbar .dropdown-item:focus,
#navbar .dropdown-item:hover {
  color: #fff;
  background-color: #1a202e;
  -webkit-box-shadow: inset 0px 3px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 3px 1px rgba(0, 0, 0, 0.1);
}

#navbar #brand {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  background: none;
  font-size: 3rem;
  margin-left: 1rem;
}

#sidebar {
  padding: 3rem 2rem;
  border-radius: 0 0 0 30px;
  background: #283246;
  min-height: calc(100vh - 219px);
}

body {
  background: #1a202e;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

h1, h2, h3, h4 {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  color: #fff;
}

.bg-dark {
  background: #232b3e !important;
}

#app-container {
  background: #131821;
  margin: 60px;
  border-radius: 30px;
  width: calc(100vw - 120px);
  min-height: calc(100vh - 120px);
}

#main main {
  border-radius: 0 0 30px 0;
  padding: 3rem 2rem;
}

#avatar {
  margin-bottom: 2rem;
}

#avatar .avatar-window {
  width: 120px;
  height: 120px;
}

#chat {
  border-radius: 30px;
  border: 1px solid #4D5F8A;
  padding: 2rem 2rem 3rem;
}

#chat .media {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

#chat .media .media-body {
  border-radius: 5px 15px 15px 30px;
  padding: 15px 30px 20px;
  position: relative;
  background: #4D5F8A;
  max-width: 50%;
}

#chat .media .media-body i {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  color: #fff;
  font-size: 1.4rem;
}

#chat .media .text-muted {
  margin-left: 1rem;
}

#chat .media .user {
  text-align: center;
  margin-right: 2rem;
}

#chat .media .user img {
  border-radius: 90px;
}

#chat .media .user img,
#chat .media .user p {
  display: block;
}

#chat .media .user p {
  width: 100%;
  margin-top: 0.6rem;
  margin-left: 0;
  color: #fff;
}

#chat .media.in {
  -ms-flex-direction: row-reverse !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: reverse !important;
          flex-direction: row-reverse !important;
  display: -ms-flexbox !important;
  display: -webkit-box !important;
  display: flex !important;
}

#chat .media.in .media-body {
  background: #06bc72;
  border-radius: 15px 5px 30px 15px;
}

#chat .media.in .text-muted {
  margin-right: 1rem;
}

#chat .media.in .user {
  margin-right: 0;
  margin-left: 2rem;
}

#message {
  margin-top: 30px;
}

#message textarea {
  background: #272e3b;
  border-radius: 30px 0 0 30px;
  height: 60px;
  padding: 15px;
  border: none;
  color: #fff;
  border-right: 1px solid #1a202e;
  -webkit-box-shadow: inset 0px 3px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 3px 1px rgba(0, 0, 0, 0.1);
}

#message .input-group-text {
  border-radius: 0 30px 30px 0;
  background: #272e3b;
  border: none;
  -webkit-box-shadow: inset 0px 3px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 3px 1px rgba(0, 0, 0, 0.1);
}

#message .input-group-text i {
  color: #fff;
  font-size: 1.2rem;
  margin-right: 8px;
  cursor: pointer;
}

#message .input-group-text .fa-paper-plane {
  color: #06bc72;
  font-size: 2rem;
  margin-left: 1rem;
}

.user-channels {
  margin-top: 2rem;
}

.user-channels .list-group {
  border: 1px solid #131821;
}

.user-channels .channel-list-item a, .user-channels .channel-list-item span {
  margin-left: 1rem;
}

.user-channels .list-group-item.active {
  background: #272e3b;
  border: none;
  border-top: 1px solid #131821;
  border-bottom: 1px solid #131821;
}

.user-channels .list-group-item:first-child {
  border-bottom: 1px solid #131821;
}

#channel-users {
  margin-top: 4rem;
}

#user-window {
  width: 100%;
  height: 300px;
  display: block;
  overflow: hidden;
  background-color: #272e3b !important;
  -webkit-box-shadow: inset 0px 3px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 3px 1px rgba(0, 0, 0, 0.1);
  border-radius: 240px;
  padding: 30px 45px 30px 60px;
}

#user-window #user-window-channel {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

#user-window-channel::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #272e3b;
}

#user-window-channel::-webkit-scrollbar {
  width: 12px;
  background-color: #272e3b;
}

#user-window-channel::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #4D5F8A;
}

.user-check {
  display: inline-block;
  width: 160px;
  height: 190px;
  margin-right: 4rem;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.user-check p {
  width: 100%;
}

.user-check label {
  width: 160px;
  height: 160px;
  position: relative;
  display: inline-block;
  margin-bottom: 0;
}

.user-check label .user-check-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.user-check label .user-checkbox-hover {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  border-radius: 160px;
  opacity: 0;
  z-index: 2;
}

.user-check label .user-checkbox-hover:before {
  position: absolute;
  content: "";
  top: 0;
  left: 4px;
  right: -4px;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  border-radius: 160px;
}

.user-check label .user-checkbox-hover:after {
  position: absolute;
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 3rem;
  top: calc(50% - 36px);
  left: calc(50% - 24px);
  z-index: 3;
}

.user-check label:hover .user-checkbox-hover {
  opacity: 1;
}

.user-check label .user-check-input:checked ~ .user-checkbox-hover:after {
  content: "\f00d";
}

.user-check label .user-check-input:checked ~ .user-checkbox-hover {
  opacity: 1;
}

.user-check .avatar-window {
  display: inline-block;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */