body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a i {
  margin-right: 0.4rem;
}
.error404{
  text-align: center;
}
.error404 h1{
  width: 100%;
  font-size: 30rem;
  font-weight: bold;
  text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.66);
}